.head{
    text-align: center;
    font-size: 100px;
    color: white;
    height: 200px;
}
*{
    background-color: black;
}
.insta{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.Insta{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(156, 211, 15);
  padding: 30px 50px;
  border-radius: 100px;
  font-weight: normal;
  /* text-transform: uppercase */
  transition: all 0.2s ease-in-out;
  font-size: 50px;
  
}
.linkedin{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;

}
.linked{
    text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(83, 11, 226);
  padding: 30px 50px;
  border-radius: 100px;
  font-weight: normal;
  /* text-transform: uppercase; */
  transition: all 0.2s ease-in-out;
  font-size: 50px;
}
.github{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}
.Git{
    text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(239, 78, 29);
  padding: 30px 50px;
  border-radius: 100px;
  font-weight: normal;
  /* text-transform: uppercase; */
  transition: all 0.2s ease-in-out;
  font-size: 50px;
}

.created{
    font-style: italic;
    font-size: 60px;
    text-align: center;
    color: white;
}